.git
.github
.env
.env.*
!.env.example
vendor
node_modules
storage/logs/*
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
bootstrap/cache/*.php
tests
docs
*.zip
*.tar
*.tar.gz
.phpunit.result.cache
